CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
out
build
.vs
*.pdb
.clang-format
/CMakePresets.json

data
library
tools
vcpkg

include/*
!include/lighthouse
src/*
!src/lighthouse
module/*
!module/lighthouse
/.clang-tidy
/cpp.hint
/vc140.pdb
/vcpkg.json
